<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Add Event</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/home}">home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <!-- success message -->
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered
                    to our awesome app!</div>
            </div>

            <h1>Registration</h1>

            <form th:action="@{/addEvent}" th:method="post" th:object="${eventDto}">

                <div class="form-group">
                    <label class="control-label" for="eventName">Event Name </label>
                    <input id="eventName" class="form-control" th:field="*{eventName}"
                           required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="eventDescription">Event Description </label> <input
                        id="eventDescription" class="form-control" th:field="*{eventDescription}"
                        required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="eventLocation"> Event Location </label> <input
                        id="eventLocation" class="form-control" th:field="*{eventLocation}"
                        required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="eventDateAndTime"> Event Date and Time </label> <input
                        type="date" id="eventDateAndTime" class="form-control" th:field="*{eventDateTime}"
                        required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="eventDuration"> Event Duration in hours </label> <input
                        id="eventDuration" class="form-control" th:field="*{eventDuration}"
                        required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="isVolunteer"> is existing volunteer </label>
                    <input
                        id="isVolunteer" class="form-control" th:field="*{existingVolunteer}"
                        required autofocus="autofocus" />
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-success">Add Event</button>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>