<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1 align="center">Volunteer Management System</h1>
    <div class="links">
        <ul>
            <li><a href="http://localhost:8084/home">Home Page</a></li>
            <li><a href="http://localhost:8084/registrationPage">Register For An Event</a></li>
            <li><a href="http://localhost:8084/enrollPage">Enroll for an Events</a></li>
            <li><a href="http://localhost:8084/getAllEvents">Get All Events</a></li>
<!--            <li><a href="http://localhost:8084/eventAdd">Add Event</a></li>-->
<!--            <li><a href="http://localhost:8084/enrollPage">Enroll for an Event</a></li>-->

        </ul>
    </div>
</body>
</html>